configuration {
  modi: "drun,run,filebrowser";
  font: "FiraMono Nerd Font 13";
  show-icons: true;
  icon-theme: "Papirus-Dark";
  drun-display-format: "{name}";
  display-drun: "  Apps";
  display-run:  "  Run";
  display-filebrowser: "  Files";
}

@import "themes/nord.rasi"
